@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#root {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.table {
  color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
p {
  font-family: "Lilita One", sans-serif;
}
